@import url("https://css.gg/close.css");
@import url("https://css.gg/chevron-double-right.css");

.node {
  width: 30px;
  height: 30px;
  outline: 1px solid rgb(121, 167, 200);
}

.visited {
  background-color: darkslategray;
}

.shortest {
  background-color: pink;
}

.special {
  background-color: gold;
}

/*start node*/
.fa-angle-right {
  padding-top: 14px;
  color: #17b169;
}

/*end node*/
.fa-flag {
  padding-top: 5px;
  color: darkred;
}

/*weight nodes*/
.fa-weight-hanging {
  padding-top: 5px;
}

/*wall nodes*/
.fa-x {
  padding-top: 5px;
}
