.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(121, 167, 200);
  /* display: inline-block; */
}

.startPoint {
  background-color: lightgreen;
}

.endPoint {
  background-color: firebrick;
}

.visited {
  background-color: lightblue;
}

.shortest {
  background-color: pink;
}

.special {
  background-color: gold;
}
