@import url("https://css.gg/close.css");
@import url("https://css.gg/chevron-double-right.css");

.node {
  width: 30px;
  height: 30px;
  outline: 1px solid rgb(121, 167, 200);
}

.startPoint {
  background-color: lightgreen;
}

.endPoint {
  background-color: firebrick;
}

.visited {
  background-color: lightblue;
}

.shortest {
  background-color: pink;
}

.special {
  background-color: gold;
}

.wall {
  background-color: darkslategray;
}

.weight {
  background-color: darkturquoise;
}

.fa-angle-right {
  padding-top: 13px;
  color: #17b169;
}

.fa-flag {
  padding-top: 5px;
  color: darkred;
}

.fa-weight-hanging {
  padding-top: 5px;
}

.fa-x {
  padding-top: 5px;
}
