body {
  margin: 0;
  font-family: "Albert Sans", sans-serif;
  font-family: "Finlandica", sans-serif;
  font-family: "Smooch Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lavender;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
